name: Deploy Python App to GCP E2 (Staging)

on:
  push:
    branches:
      - main
      - dev10
      - staging   # change if you want a different branch for staging

jobs:
  deploy-staging:
    if: github.ref != 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: deploy-staging   # matches the environment you created in GitHub

    steps:
      - uses: 'actions/checkout@v4' # Checkout your repository
      - uses: 'google-github-actions/auth@v2' # Authenticate to Google Cloud
        with:
          project_id: ${{ secrets.GCP_PROJECT }} 
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Update startup script and restart staging VM
        run: |
          gcloud compute instances add-metadata ${{secrets.GCP_VM_INSTANCE_NAME_STAGING}} \
            --zone=${{secrets.GCP_ZONE}} \
            --project=${{secrets.GCP_PROJECT}} \
            --metadata-from-file=startup-script=./scripts/update_app.sh \
            --metadata=BRANCH_NAME=${GITHUB_REF#refs/heads/}

          gcloud compute instances stop ${{secrets.GCP_VM_INSTANCE_NAME_STAGING }} --zone=${{secrets.GCP_ZONE}} --project=${{secrets.GCP_PROJECT}}
          gcloud compute instances start ${{secrets.GCP_VM_INSTANCE_NAME_STAGING }} --zone=${{secrets.GCP_ZONE}} --project=${{secrets.GCP_PROJECT}}

  deploy-production:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: deploy-staging  # matches the environment you created in GitHub

    steps:
      - uses: 'actions/checkout@v4' # Checkout your repository
      - uses: 'google-github-actions/auth@v2' # Authenticate to Google Cloud
        with:
          project_id: ${{ secrets.GCP_PROJECT }} # Replace with your actual GCP project ID
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Update startup script and restart production VM
        run: |
          gcloud compute instances add-metadata ${{secrets.GCP_VM_INSTANCE_NAME_PROD}} \
            --zone=${{secrets.GCP_ZONE}} \
            --project=${{secrets.GCP_PROJECT}} \
            --metadata-from-file=startup-script=./scripts/update_app.sh \
            --metadata=BRANCH_NAME=${GITHUB_REF#refs/heads/}

          gcloud compute instances stop ${{secrets.GCP_VM_INSTANCE_NAME_PROD}} --zone=${{secrets.GCP_ZONE}} --project=${{secrets.GCP_PROJECT}}
          gcloud compute instances start ${{secrets.GCP_VM_INSTANCE_NAME_PROD}} --zone=${{secrets.GCP_ZONE}} --project=${{secrets.GCP_PROJECT}}